
  
  .container {
    width: 50%;
    /* max-width: 800px; */
    padding: 2rem;
    
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  }
  
  /* Responsive adjustments for smaller screens */
  @media (max-width: 768px) {
    .container {
      width: 90%;
    }
  }
  