<div class="container mx-auto mt-8">
    <h1 class="text-3xl font-bold mb-8 text-gray-800 text-center">Search and Fetch Data</h1>
  
    <!-- Search Input Section -->
    <div class="mb-6">
      <input
        type="text"
        id="search"
        placeholder="Search..."
        class="border border-gray-400 rounded-lg p-2 w-full"
        (input)="onSearch($event)"
        (focus)="loadingSearch = true"
      />
      <!-- Display Loading Indicator -->
      <div *ngIf="loadingSearch" class="text-blue-500 mt-2">Searching...</div>
  
      <!-- Display Search Results -->
      <div *ngIf="!loadingSearch && searchResults.length > 0" class="mt-4">
        <h4 class="text-xl font-semibold">Search Results:</h4>
        <ul class="list-disc list-inside">
          <li *ngFor="let result of searchResults">{{ result }}</li>
        </ul>
      </div>
  
      <!-- Display Search Error -->
      <div *ngIf="errorSearch" class="text-red-500 mt-2">{{ errorSearch }}</div>
    </div>
  
    <!-- Fetch Combined Data Section -->
    <div class="mb-6">
      <button
        class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded"
        (click)="fetchCombinedData()"
      >
        Fetch Combined Data
      </button>
  
      <!-- Display Fetching Indicator -->
      <div *ngIf="loadingFetch" class="text-blue-500 mt-2">Fetching user details and posts...</div>
  
      <!-- Display Fetched Data -->
      <div *ngIf="!loadingFetch && fetchedData.length > 0" class="mt-4">
        <h4 class="text-xl font-semibold">Fetched User Details and Posts:</h4>
        <ul class="list-disc list-inside">
          <li *ngFor="let data of fetchedData">
            <div class="mb-2">
              <h4>User Details:</h4>
              <p>Name: {{ data.user.name }}</p>
              <p>Age: {{ data.user.age }}</p>
              <p>Job: {{ data.user.job }}</p>
              <h4>Post:</h4>
              <p>{{ data.post }}</p>
            </div>
          </li>
        </ul>
      </div>
  
      <!-- Display Fetch Error -->
      <div *ngIf="errorFetch" class="text-red-500 mt-2">{{ errorFetch }}</div>
    </div>
  </div>
  